@use "../abstracts/mixins" as *;

.Services__categories {
    display: flex;
    flex-direction: column;
    @include md {
        flex-direction: row;
        justify-content: center;
        gap: 4rem;
    }
    padding-bottom: 4rem;
}

.leftContainer {
    display: flex;
    flex-direction: column;
}

.rightContainer {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-width: 340px;
    @include md {
        position: sticky;
        height: fit-content;
        top: 2rem;
        width: 25%;
    }
}