

.Services__categories {
    display: flex;
    flex-direction: column;
}


.rightContainer {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}