
.contactHero {
    background-color: var(--bg-blue);
    padding: 2rem 1rem 2rem 1rem;
    margin: 0 auto;
    h1 {
        margin: 0 0 1rem 0;
        color: white;
    }
    p {
        color: var(--text-lightgrey);
    }
}

.contacts {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: grid;
    gap: 10
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--border);
    p {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}

.icon {
    padding: 0.5rem;
    background-color: var(--bg-lightblue);
    border-radius: 0.25rem;
    svg {
        height: 1rem;
        width: 1rem;
        fill: var(--icon-blue);
    }
}

.iframe {
    width: 100%;
    height: 240px;
    border-radius: 0.5rem;
    border: 1px solid var(--border);
}