@use "../styles/abstracts/_mixins" as *;
@use "../styles/abstracts/_variables" as *;
@use "sass:color";
.ContactForm {
  padding-bottom: 4rem;
  h2 {
    margin-bottom: 1rem;
  }
}

.form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  @include md {
    width: 80%;
  }

  :first-child {
    width: 35%;
  }
  div:nth-child(2) {
    width: 35%;
  }

  div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  label {
    font-weight: bold;
  }

  input {
    border: 1px solid var(--border);
    border-radius: 0.25rem;
    padding: 0.25rem;
  }

  textarea {
    width: 100%;
    border: 1px solid var(--border);
    border-radius: 0.25rem;
    height: 10em;
    @include md {
      height: 16em;
    }
  }

  button {
    padding: 0.75rem 1rem;
    background-color: $blue;
    color: white;
    border-radius: 8px;
    transition: background-color 150ms ease-in-out;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: color.scale($blue, $lightness: -10%);
    }
  }
}
