@use "../styles/abstracts/_mixins" as *;

.emergency {
  padding: 4rem 0;
  background: linear-gradient(
    130deg,
    rgba(249, 116, 22, 1) 60%,
    rgba(246, 146, 14, 1) 85%,
    rgba(245, 159, 10, 1) 100%
  );

  color: var(--primaryText);
  width: 100%;
  max-width: 100%;
  margin: 0;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    @include md {
      flex-direction: row;
      justify-content: space-around;
    }
  }
}

.leftContainer {
  display: flex;
  gap: 1rem;
  align-items: center;

  .icon {
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.215);
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    border-radius: 50%;
  }
}

.phoneNumbers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  @include md {
    flex-direction: column;
    gap: 2rem;
  }
  @include lg {
    flex-direction: row;
  }
}

.phone {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.25rem;
  background-color: var(--bg);
  color: var(--text-orange);
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  white-space: nowrap;
  &:hover {
    background-color: #fff2db;
  }

  svg {
    height: 1rem;
    width: 1rem;
    fill: var(--text-orange);
  }
}
