.topbar {
  box-shadow: 0px 4 4 rgba(0, 0, 0, 0.25);
  padding-top: 12px;
}

.title {
  &--hide {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
}

.navWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .icon {
    height: 89px;
    width: 286px;
  }
}

.logo {
  img {
    max-height: 65;
    max-width: 100%;
  }
}

.burger {
  padding: 0px;
  background-color: rgba(255, 255, 255, 0);
  border: none;

  z-index: 10;
  cursor: pointer;

  span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    border-radius: 4px;
    transition: 0.4s;
  }
}

.cross {
  .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }

  .bar2 {
    opacity: 0;
  }

  .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
}
