@use "../styles/abstracts/_mixins" as *;

.Methods {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.Methods__title {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    h3 {
        margin: 0;
    }
}

.Methods__icon {
    padding: 0.5rem;
    background-color: var(--bg-lightblue);
    border-radius: 0.25rem;
    svg {
        stroke: var(--icon-blue);
    }
}

.Methods__lead {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    padding: 0.25rem;
    @include lg {
        gap: 1rem;
    }
    li {
        width: 100%;
        box-sizing: border-box;
        list-style: none;
        padding: 1rem;
        background-color: var(--bg-lightgrey);
        border-radius: 0.25rem;
        @include lg {
            width: 45%;
        }
    }
}