// Nav.module.scss
@import "../styles/abstracts/variables";

.nav {
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;

  padding-top: 6rem;
  padding-left: 2rem;
  width: 90vw;
  height: 100vh;
  overflow: scroll;
  background-color: var(--bg);

  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  box-shadow: 0px 65px 110px rgba(0, 0, 0, 1);
  z-index: 1;

  // reset local pour les listes uniquement dans la nav
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.nav--inactive {
  display: none;
}

.nav__link {
  font-size: $font-size-medium;
}

.nav__link--category {
  color: $text-blue;
  font-weight: 600;
  font-size: $font-size-normal;
}

.nav__link--service {
  font-weight: 400;
  font-size: $font-size-normal;
  margin-left: 1rem;
}

.nav__submenu {
  li {
    margin: 0.75rem 0;
  }
}
