

.SingleServiceLinks__card {
    padding: 1.5rem;
    border: 1px solid var(--border-lightgrey);
    border-radius: 0.5rem;
    background-color: var(--bg-lightgrey);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.103);
}

.SingleServiceLinks__title {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.SingleServiceLinks__lead {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 1rem;
    a {
        color: var(--text-grey);
    }
}