.WhyAqua {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media screen and (min-width:1000px) {
    .WhyAqua {
        padding-top: 4rem;
        padding-bottom: 4rem;
        h2 {
            margin-bottom: 1rem;
        }
    }
}