.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-shadow: 0 -4 4 rgba(0, 0, 0, 0.25);
  background-color: var(--bg-blue);

  h3 {
    color: var(--primaryText);
  }
  .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

.pills {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.pills .pill {
  color: var(--text-grey);
  &:hover {
    color: var(--primaryText);
  }
}

.contactContainer {
  padding-bottom: 1rem;
}
.contacts {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.singleContact {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  svg {
    height: 1rem;
    width: 1rem;
    fill: var(--primaryText);
  }
  p {
    color: var(--primaryText);
  }
}

.copyright {
  padding-top: 1rem;
  p {
    width: 100%;
    border-top: 1px solid rgba(128, 128, 128, 0.25);
    color: var(--text-grey);
    margin-top: 0;
    padding-top: 1rem;
    text-align: center;
  }
}


@media screen and (min-width:1000px) {
  .footer {
    padding-bottom: 0;
    padding-top: 4rem;
    .container {
      flex-direction: row;
      padding-bottom: 2rem;
      justify-content: space-around;
    }
    a {
      margin-bottom: 0.75rem;
    }
    .contacts {
      gap: 0.75rem;
    }
    .singleContact {
      gap: 0.75rem;
    }
  }
}