header {
  box-shadow: 0px 4 4 rgba(0, 0, 0, 0.25);
  padding-top: 12px;
}

.navWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .icon {
    height: 89px;
    width: 286px;
  }
}

.burger {
  padding: 0px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
  div {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    border-radius: 4px;
    transition: 0.4s;
  }
}
.cross {
  div {
    background-color: rgb(255, 0, 0);
  }
  .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  .bar2 {
    opacity: 0;
  }
  .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
}

nav {
  position: absolute;
  top: 100px;
  right: 0px;
  box-sizing: border-box;
  padding: 16px;
  width: 100%;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
  box-shadow: 0px 4 4 rgba(0, 0, 0, 0.25);

  a {
    color: var(--text-grey);
    font-size: var(--p-small);
    &:hover {
      color: var(--text);
    }
  }
}

.inactive {
  display: none;
}