.Hero {
    padding-top: 2rem;
    padding-bottom: 4rem;
    position: relative;
    overflow: hidden;
    color: var(--primaryText);
    background: linear-gradient(129deg,#0b4765, #3ab9cc);
    min-height: 20rem;
}

span {
    color: #10b5cb;
}

.background {
    position: absolute;
    bottom: -1;
    width: 100%;
    fill: var(--bg);
}

.container {
    position: relative;
}



@media screen and (min-width:1000px) {
    .Hero {
        .container {
            padding-bottom: 4rem;
        }
        .textContainer {
            max-width: 70%;
        }
        h1 {
            margin-bottom: 2rem;
        }
        p {
            margin-bottom: 1rem;
        }
    }
}