/* styles/globals.scss */
@use "base/_reset" as *;
@use "abstracts/_variables" as *;
@use "abstracts/_mixins" as *;
@use "base/_typography" as *;

html,
body {
  padding: 0;
  margin: 0;
  background: var(--bg);
  color: var(--text);
  font-family:
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Helvetica,
    Arial;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 16px;
}
